<section id="contacts" class="contacts">
    <div class="container">
    <h1 class="visually-hidden">Information for people</h1>
    <div class="schedule-works">
        <div class="contacts__scena contacts__scena--first">
            <div class="card-rotating card-rotating--first">
                <div class="card-face">
                    <div class="works-item works-item--front">
                        <ul class="schedule-works__list">
                            <li class="works-cafe__item">
                                <p class="cafe-rubric">CAFE</p>
                                <h2 class="cafe-town">Chicago</h2>
                                <p class="cafe-story">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                            </li>
                            <li class="works-cafe__item">
                                <p class="cafe-day">Monday - Friday
                                    <span class="cafe-time">06:00 AM - 10:00 PM</span>
                                </p>
                                <p class="cafe-day">Saturday - Sunday
                                    <span class="cafe-time">08:00 AM - 16:00 PM</span>
                                </p>
                            </li>
                            <li class="works-cafe__item">
                                <address class="contact-cafe">
                                    <a class="cafe-link" href="tel:+61(0) 383 766 284">+61(0) 383 766 284</a>
                                    <a class="cafe-link" href="mailto:noreply@envato.com">noreply@envato.com</a>
                                </address>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="card-face card-face--back">
                    <div class="works-item works-item--first"></div>
                </div>
            </div>
        </div>
        <div class="contacts__scena contacts__scena--second">
            <div class="card-rotating card-rotating--second">
                <div class="card-face">
                    <div class="works-item works-item--front">
                        <ul class="schedule-works__list">
                            <li class="works-cafe__item">
                                <p class="cafe-rubric-green">FOOD TRUCK</p>
                                <h2 class="cafe-town">Los Angeles</h2>
                                <p class="cafe-story">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                            </li>
                            <li class="works-cafe__item">
                                <p class="cafe-day">Monday - Friday
                                    <span class="cafe-time">06:00 AM - 10:00 PM</span>
                                </p>
                                <p class="cafe-day">Saturday - Sunday
                                    <span class="cafe-time">08:00 AM - 16:00 PM</span>
                                </p>
                            </li>
                            <li class="works-cafe__item">
                                <address class="contact-cafe">
                                    <a class="cafe-link" href="tel:+61(0) 383 766 284">+61(0) 383 766 284</a>
                                    <a class="cafe-link" href="mailto:noreply@envato.com">noreply@envato.com</a>
                                </address>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="card-face card-face--back">
                    <div class="works-item works-item--second"></div>
                </div>
            </div>
        </div>
        <div class="contacts__scena contacts__scena--third">
            <div class="card-rotating card-rotating--third">
                <div class="card-face">
                    <div class="works-item works-item--front">
                        <ul class="schedule-works__list">
                            <li class="works-cafe__item">
                                <p class="cafe-rubric">CAFE</p>
                                <h2 class="cafe-town">New York</h2>
                                <p class="cafe-story">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                            </li>
                            <li class="works-cafe__item">
                                <p class="cafe-day">Monday - Friday
                                    <span class="cafe-time">06:00 AM - 10:00 PM</span>
                                </p>
                                <p class="cafe-day">Saturday - Sunday
                                    <span class="cafe-time">08:00 AM - 16:00 PM</span>
                                </p>
                            </li>
                            <li class="works-cafe__item">
                                <address class="contact-cafe">
                                    <a class="cafe-link" href="tel:+61(0) 383 766 284">+61(0) 383 766 284</a>
                                    <a class="cafe-link" href="mailto:noreply@envato.com">noreply@envato.com</a>
                                </address>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="card-face card-face--back">
                    <div class="works-item works-item--third"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="schedule-button">
        <button type="button" class="button-location">Our Locations
            <svg class="about__btn-icon-loc" height="10" width="6">
                <use href="../images/svg/symbol-defs.svg#icon-further1"></use>
            </svg>
        </button>
        <button type="button" class="button-franchise">Franchise
            <svg class="about__btn-icon-fr" height="10" width="6">
                <use href="../images/svg/symbol-defs.svg#icon-further1"></use>
            </svg>
        </button>
    </div>
</div>
</section>
