<section id="contacts" class="contacts">
    <div class="container">
        <h1 class="visually-hidden">Information for people</h1>
        <div class="contact__cards">
            <div class="contacts__card1">
                <div class="contacts__front">
                    <ul class="contacts__card-list">
                        <li class="contacts__card-item">
                            <p class="contacts__card-name">CAFE</p>
                            <h2 class="contacts__card-city">Chicago</h2>
                            <p class="contacts__card-description">Fusce ut velit laoreet, tempus arcu molestie vulputate
                            </p>
                        </li>
                        <li class="contacts__card-item">
                            <p class="contacts__card-day">Monday - Friday</p>
                            <p class="contacts__card-time contacts__card-time1"">06:00 AM - 10:00 PM</p>
                            <p class=" contacts__card-day">Saturday - Sunday</p>
                            <p class="contacts__card-time">08:00 AM - 16:00 PM</p>
                        </li>
                    </ul>
                </div>
                <div class="contacts__back">
                    <img class="image__back" src="../images/contacts/for-hover/var2.1.jpg" alt="Pink girl"
                        width="330px">
                </div>
                <address class="contacts__cafe">
                    <a class="cafe-link" href="tel:+61(0) 383 766 284">+61(0) 383 766 284</a>
                    <a class="cafe-link" href="mailto:noreply@envato.com">noreply@envato.com</a>
                </address>
            </div>
            <div class="contacts__card2">
                <div class="contacts__front">
                    <ul class="contacts__card-list">
                        <li class="contacts__card-item">
                            <p class="contacts__card-name2">FOOD TRUCK</p>
                            <h2 class="contacts__card-city">Los Angeles</h2>
                            <p class="contacts__card-description">Fusce ut velit laoreet, tempus arcu molestie vulputate
                            </p>
                        </li>
                        <li class="contacts__card-item">
                            <p class="contacts__card-day">Monday - Friday</p>
                            <p class="contacts__card-time contacts__card-time1">06:00 AM - 10:00 PM</p>
                            <p class="contacts__card-day">Saturday - Sunday</p>
                            <p class="contacts__card-time">08:00 AM - 16:00 PM</p>
                        </li>
                    </ul>
                </div>
                <div class="contacts__back">
                    <img class="image__back" src="../images/contacts/for-hover/var2.2.jpg" alt="Truck">
                </div>
                <address class="contacts__cafe">
                    <a class="cafe-link" href="tel:+61(0) 383 766 284">+61(0) 383 766 284</a>
                    <a class="cafe-link" href="mailto:noreply@envato.com">noreply@envato.com</a>
                </address>
            </div>
            <div class="contacts__card3">
                <div class="contacts__front">
                    <ul class="contacts__card-list">
                        <li class="contacts__card-item">
                            <p class="contacts__card-name">CAFE</p>
                            <h2 class="contacts__card-city">New York</h2>
                            <p class="contacts__card-description">Fusce ut velit laoreet, tempus arcu molestie vulputate
                            </p>
                        </li>
                        <li class="contacts__card-item">
                            <p class="contacts__card-day">Monday - Friday</p>
                            <p class="contacts__card-time contacts__card-time1"">06:00 AM - 10:00 PM</p>
                            <p class=" contacts__card-day">Saturday - Sunday</p>
                            <p class="contacts__card-time">08:00 AM - 16:00 PM</p>
                        </li>
                    </ul>
                </div>
                <div class="contacts__back">
                    <img class="image__back" src="../images/contacts/for-hover/var2.3.jpg" alt="Violet girl">
                </div>
                <address class="contacts__cafe">
                    <a class="cafe-link" href="tel:+61(0) 383 766 284">+61(0) 383 766 284</a>
                    <a class="cafe-link" href="mailto:noreply@envato.com">noreply@envato.com</a>
                </address>
            </div>
        </div>
        <div class="contacts__buttons">
            <button type="button" class="button-location">Our Locations
                <svg class="about__btn-icon-loc" height="10" width="6">
                    <use href="../images/svg/symbol-defs.svg#icon-further1"></use>
                </svg>
            </button>
            <button type="button" class="button-franchise">Franchise
                <svg class="about__btn-icon-fr" height="10" width="6">
                    <use href="../images/svg/symbol-defs.svg#icon-further1"></use>
                </svg>
            </button>
        </div>
    </div>
</section>