<section id="contacts" class="contacts">
    <div class="container">
        <h1 class="visually-hidden">Information for people</h1>
        <div class="contact__cards">
            <div class="contacts__card1">
                <div class="contacts__front">
                    <ul class="contacts__card-list">
                        <li class="contacts__card-item">
                            <p class="contacts__card-name">CAFE</p>
                            <h2 class="contacts__card-city">Chicago</h2>
                            <p class="contacts__card-description">Fusce ut velit laoreet, tempus arcu molestie vulputate
                            </p>
                        </li>
                        <li class="contacts__card-item">
                            <p class="contacts__card-day">Monday - Friday</p>
                            <p class="contacts__card-time contacts__card-time1"">06:00 AM - 10:00 PM</p>
                            <p class=" contacts__card-day">Saturday - Sunday</p>
                            <p class="contacts__card-time">08:00 AM - 16:00 PM</p>
                        </li>
                    </ul>
                </div>
                <div class="contacts__back">
                    <img class="image__back" src="../images/contacts/for-hover/var2.1.jpg" alt="Pink girl"
                        width="330px">
                </div>
                <address class="contacts__cafe">
                    <a class="cafe-link" href="tel:+61(0) 383 766 284">+61(0) 383 766 284</a>
                    <a class="cafe-link" href="mailto:noreply@envato.com">noreply@envato.com</a>
                </address>
            </div>
            <div class="contacts__card2">
                <div class="contacts__front">
                    <ul class="contacts__card-list">
                        <li class="contacts__card-item">
                            <p class="contacts__card-name2">FOOD TRUCK</p>
                            <h2 class="contacts__card-city">Los Angeles</h2>
                            <p class="contacts__card-description">Fusce ut velit laoreet, tempus arcu molestie vulputate
                            </p>
                        </li>
                        <li class="contacts__card-item">
                            <p class="contacts__card-day">Monday - Friday</p>
                            <p class="contacts__card-time contacts__card-time1">06:00 AM - 10:00 PM</p>
                            <p class="contacts__card-day">Saturday - Sunday</p>
                            <p class="contacts__card-time">08:00 AM - 16:00 PM</p>
                        </li>
                    </ul>
                </div>
                <div class="contacts__back">
                    <img class="image__back" src="../images/contacts/for-hover/var2.2.jpg" alt="Truck">
                </div>
                <address class="contacts__cafe">
                    <a class="cafe-link" href="tel:+61(0) 383 766 284">+61(0) 383 766 284</a>
                    <a class="cafe-link" href="mailto:noreply@envato.com">noreply@envato.com</a>
                </address>
            </div>
            <div class="contacts__card3">
                <div class="contacts__front">
                    <ul class="contacts__card-list">
                        <li class="contacts__card-item">
                            <p class="contacts__card-name">CAFE</p>
                            <h2 class="contacts__card-city">New York</h2>
                            <p class="contacts__card-description">Fusce ut velit laoreet, tempus arcu molestie vulputate
                            </p>
                        </li>
                        <li class="contacts__card-item">
                            <p class="contacts__card-day">Monday - Friday</p>
                            <p class="contacts__card-time contacts__card-time1"">06:00 AM - 10:00 PM</p>
                            <p class=" contacts__card-day">Saturday - Sunday</p>
                            <p class="contacts__card-time">08:00 AM - 16:00 PM</p>
                        </li>
                    </ul>
                </div>
                <div class="contacts__back">
                    <img class="image__back" src="../images/contacts/for-hover/var2.3.jpg" alt="Violet girl">
                </div>
                <address class="contacts__cafe">
                    <a class="cafe-link" href="tel:+61(0) 383 766 284">+61(0) 383 766 284</a>
                    <a class="cafe-link" href="mailto:noreply@envato.com">noreply@envato.com</a>
                </address>
            </div>
        </div>
        <div class="contacts__buttons">
            <button type="button" class="button-location" data-ourlocations-open>Our Locations
                <svg class="about__btn-icon-loc" height="10" width="6">
                    <use href="../images/svg/symbol-defs.svg#icon-further1"></use>
                </svg>
            </button>
            <button type="button" class="button-franchise">Franchise
                <svg class="about__btn-icon-fr" height="10" width="6">
                    <use href="../images/svg/symbol-defs.svg#icon-further1"></use>
                </svg>
            </button>
        </div>
    </div>
<div class="backdrop__ourlocations is-hidden" data-ourlocations>
    <div class="modal__ourlocations">
        <button class="readmore__close-button" data-ourlocations-close>
            <svg height="20" width="20">
                <use href="../images/svg/symbol-defs.svg#icon-close-cross"></use>
            </svg>
        </button>
        <div class="contacts__address">
            <div class="address__map">
                <iframe class="map"
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d23773.02017480281!2d-87.65961587929299!3d41.85784346271006!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xc509b14ec835c6af!2sLa%20Michoacana%20Premium!5e0!3m2!1sru!2sua!4v1614100095884!5m2!1sru!2sua"
                    width="50%" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                <div class="address__conent">
                    <h2 class="address__town">Chicago</h2>
                    <li class="address__item">
                        <p class="address__day">Monday - Friday
                            <span class="address__time">06:00 AM - 10:00 PM</span>
                        </p>
                        <p class="address__day">Saturday - Sunday
                            <span class="address__time">08:00 AM - 16:00 PM</span>
                        </p>
                    </li>
                </div>
            </div>
            <div class="address__map">
                <iframe class="map"
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d423967.096327145!2d-118.51064232004634!3d33.883396571177414!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xae83569fbae3575!2sN&#39;ice%20Cream!5e0!3m2!1sru!2sua!4v1614100369691!5m2!1sru!2sua"
                    width="50%" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                <div class="address__conent">
                    <h2 class="address__town">Los Angeles</h2>
                    <li class="address__item">
                        <p class="address__day">Monday - Friday
                            <span class="address__time">06:00 AM - 10:00 PM</span>
                        </p>
                        <p class="address__day">Saturday - Sunday
                            <span class="address__time">08:00 AM - 16:00 PM</span>
                        </p>
                    </li>
                </div>
            </div>
            <div class="address__map">
                <iframe class="map"
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d96853.51601565567!2d-74.0315301002188!3d40.659151857133345!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb17612bccbcc7f0d!2sCarvel!5e0!3m2!1sru!2sua!4v1614100453410!5m2!1sru!2sua"
                    width="50%" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                <div class="address__conent">
                    <h2 class="address__town">New York</h2>
                    <li class="address__item">
                        <p class="address__day">Monday - Friday
                            <span class="address__time">06:00 AM - 10:00 PM</span>
                        </p>
                        <p class="address__day">Saturday - Sunday
                            <span class="address__time">08:00 AM - 16:00 PM</span>
                        </p>
                    </li>
                </div>
            </div>
        </div>
    </div>
</section>