<div class="footer">
    <div class="footer__border">
        <div class="container">
            <div class="footer-page">
                <div class="footer-slohan">
                    <p class="footer__slohan-tittle">HOMEMADE ICE CREAM MADE</p>
                    <p class="footer__saturated">WITH PASSION</p>
                </div>
                <div class="footer__contacts-container">
                    <div class="footer-conection">
                        <ul class="conection-list">
                            <li class="conection-item">
                                <a class="conection-link" href="https://github.com/" target="_blank">
                                    <svg class="conection-svg" width="18.82" height="18.82">
                                        <use href="../images/svg/symbol-defs.svg#icon-github-pin"></use>
                                    </svg>
                                </a>
                            </li>
                            <li class="conection-item">
                                <a class="conection-link" href="https://web.telegram.org/" target="_blank">
                                    <svg class="conection-svg" width="19.2" height="14.93">
                                        <use href="../images/svg/symbol-defs.svg#icon-telegram-pin"></use>
                                    </svg>
                                </a>
                            </li>
                            <li class="conection-item">
                                <a class="conection-link" href="https://www.facebook.com/" target="_blank">
                                    <svg class="conection-svg" width="8.8" height="19.2">
                                        <use href="../images/svg/symbol-defs.svg#icon-facebook-pin"></use>
                                    </svg>
                                </a>
                            </li>
                        </ul>
                        <span class="conection-icon">
                            <svg class="conection-svg1" width="20" height="17">
                                <use href="../images/svg/symbol-defs.svg#icon-share"></use>
                            </svg>
                        </span>
                    </div>
                    <p class="conection-text">Feel free to contact
                        <a class="conection-tel" href="tel:+610383766284">+61 (0) 383 766 284</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <p class="footer-titre">© 2021 - IceCream. All Rights Reserved.</p>
</div>