<section class="gallery">
  <div class="gallery__container container">
    <h2 class="gallery__title-hidden">Ice cream makes people happier</h2>
    <div class="gallery__pictures">
      <div class="gallery__picture">
        <img src="../images/gallery/optimisized__jpg/ice2.jpg" alt="" />
      </div>
      <div class="gallery__picture">
        <img src="../images/gallery/optimisized__jpg/ice1.jpg" alt="" />
      </div>
      <div class="gallery__picture gallery__picture--big">
        <img src="../images/gallery/optimisized__jpg/ice5.jpg" alt="" />
      </div>
      <div class="gallery__picture">
        <img src="../images/gallery/optimisized__jpg/ice8.jpg" alt="" />
      </div>
      <div class="gallery__picture">
        <img src="../images/gallery/optimisized__jpg/ice10.jpg" alt="" />
      </div>
      <div class="gallery__picture gallery__picture--big">
        <img src="../images/gallery/optimisized__jpg/ice6.jpg" alt="" />
      </div>
      <div class="gallery__picture gallery__picture--big">
        <img src="../images/gallery/optimisized__jpg/ice11.jpg" alt="" />
      </div>
      <div class="gallery__picture">
        <img src="../images/gallery/optimisized__jpg/ice9.jpg" alt="" />
      </div>
      <div class="gallery__picture">
        <img src="../images/gallery/optimisized__jpg/ice4-big.jpg" alt="" />
      </div>
    </div>
  </div>
</section>
