<section class="hero">
    <div class="container ">
        <div class="hero__container">
            <div class="hero_container_info">
                <ul class="hero__list_number">
                    <li class="hero__item_number">
                        <div class="hero__round_cafes"></div>
                        <p class="hero__text_number-16">16</p>
                        <p class="hero__text_cafes">cafes</p>
                    </li>
                    <li class="hero__item_number">
                        <div class="hero__round_food"></div>
                        <p class="hero__text_number-23">23</p>
                        <p class="hero__text_food">food trucks</p>
                    </li>
                </ul>
            </div>
            <div class="hero__container_title">
                <h1 class="hero__title">ice cream made with <span class="hero__title_red">passion</span></h1>
                <ul class="hero__list_button">
                    <li class="hero__item_button">
                        <button class="btn-3"><a class="hero__link" href="#Products"></a>Products</button>
                    </li>
                    <li class="hero__item_button">
                        <button class="btn-2"><a class="hero__link" href="#How it’s made?"></a>How it’s made?</button>
                    </li>
                </ul>
            </div>
        </div>
    <div class="hero__round"></div>
        <picture>
            <source srcset="
                                   ../images/hero/optimisized__webp/mob/icecream__mob.webp 1x,
                                   ../images/hero/optimisized__webp/mob/icecream__mob@2x.webp 2x,
                                   ../images/hero/optimisized__webp/mob/icecream__mob@3x.webp 3x,
                                   ../images/hero/optimisized__png/mob/icecream__mob.png 1x,
                                   ../images/hero/optimisized__png/mob/icecream__mob@2x.png 2x,
                                   ../images/hero/optimisized__png/mob/icecream__mob@3x.png 3x                                   
                                    " media="(max-width: 767px)" type="image/webp">
            <source srcset="
                                    ../images/hero/optimisized__png/tablet/icecream__tablet.png 1x,
                                    ../images/hero/optimisized__png/tablet/icecream__tablet@2x.png 2x,
                                    ../images/hero/optimisized__png/tablet/icecream__tablet@3x.png 3x,
                                    ../images/hero/optimisized__webp/tablet/icecream__tablet.webp 1x,
                                    ../images/hero/optimisized__webp/tablet/icecream__tablet@2x.webp 2x,
                                    ../images/hero/optimisized__webp/tablet/icecream__tablet@3x.webp 3x
                                    " media="(min-width: 768px) and (max-width: 1279px)" type="image/webp">
            <source srcset="
                                    ../images/hero/optimisized__png/desktop/icecream__desktop.png 1x,
                                    ../images/hero/optimisized__png/desktop/icecream__desktop@2x.png 2x,
                                    ../images/hero/optimisized__png/desktop/icecream__desktop@3x.png 3x,
                                    ../images/hero/optimisized__webp/desktop/icecream__desktop.webp 1x,
                                    ../images/hero/optimisized__webp/desktop/icecream__desktop@2x.webp 2x,
                                    ../images/hero/optimisized__webp/desktop/icecream__desktop@3x.webp 3x
                                    " media="(min-width: 1280px)" type="image/webp">
            <img class="hero__img" src="../images/hero/optimisized__png/mob/icecream__mob.png" alt="ice">
        </picture>
        <div>
            <p class="hero__text">
                Lorem ipsum dolor sit amet,<br> consectetur adipiscing elit,<br> sed do eiusmod tempor <br> incididunt ut labore
                et
            </p>
            <button class="btn-4">
                <svg class="btn-icon" width="9" height="9">
                    <use href="../images/svg/symbol-defs.svg#icon-arrow-right2"></use>
                </svg>
            </button>
            <picture>
                <source srcset="
                                                            ../images/hero/optimisized__png/tablet/milk__tablet.png 1x,
                                                            ../images/hero/optimisized__png/tablet/milk__tablet@2x.png 2x,
                                                            ../images/hero/optimisized__png/tablet/milk__tablet@3x.png 3x,
                                                            ../images/hero/optimisized__webp/tablet/milk__tablet.webp 1x,
                                                            ../images/hero/optimisized__webp/tablet/milk__tablet@2x.webp 2x,
                                                            ../images/hero/optimisized__webp/tablet/milk__tablet@3x.webp 3x
                                                            " media="(min-width: 768px) and (max-width: 1279px)"
                    type="image/webp">
                <source srcset="
                                                            ../images/hero/optimisized__png/desktop/milk__desktop.png 1x,
                                                            ../images/hero/optimisized__png/desktop/milk__desktop@2x.png 2x,
                                                            ../images/hero/optimisized__png/desktop/milk__desktop@3x.png 3x,
                                                            ../images/hero/optimisized__webp/desktop/milk__desktop.webp 1x,
                                                            ../images/hero/optimisized__webp/desktop/milk__desktop@2x.webp 2x,
                                                            ../images/hero/optimisized__webp/desktop/milk__desktop@3x.webp 3x
                                                            " media="(min-width: 1280px)" type="image/webp">
                <img class="hero__img_milk" src="../images/hero/optimisized__png/tablet/milk__tablet.png" alt="milk">
            </picture></div>     
        <picture>
            <source srcset="
                                            ../images/hero/optimisized__png/tablet/tasty__tablet.png 1x ,
                                            ../images/hero/optimisized__png/tablet/tasty__tablet@2x.png 2x,
                                            ../images/hero/optimisized__png/tablet/tasty__tablet@3x.png 3x,
                                            ../images/hero/optimisized__webp/tablet/tasty__tablet.webp 1x,
                                            ../images/hero/optimisized__webp/tablet/tasty__tablet@2x.webp 2x,
                                            ../images/hero/optimisized__webp/tablet/tasty__tablet@3x.webp 3x
                                            " media="(min-width: 768px) and (max-width: 1279px)" type="image/webp">
            <source srcset="
                                            ../images/hero/optimisized__png/desktop/tasty__desktop.png 1x,
                                            ../images/hero/optimisized__png/desktop/tasty__desktop@2x.png 2x,
                                            ../images/hero/optimisized__png/desktop/tasty__desktop@3x.png 3x,
                                            ../images/hero/optimisized__webp/desktop/tasty__desktop.webp 1x,
                                            ../images/hero/optimisized__webp/desktop/tasty__desktop@2x.webp 2x,
                                            ../images/hero/optimisized__webp/desktop/tasty__desktop@3x.webp 3x
                                            " media="(min-width: 1280px)" type="image/webp">
            <img class="hero__img_tasty" src="../images/hero/optimisized__png/tablet/tasty__tablet.png" alt="tasty">
        </picture>
    </div>
</section>