<section class="hero">
    <div class="container">
        <h1 class="hero__title">ice cream made with <span class="hero__title_red">passion</span></h1>
        <ul class="hero__list_button">
            <li class="hero__item_button">
                <button class="btn-3"><a class="hero__link" href="#Products"></a>Products</button>
            </li>
            <li class="hero__item_button">
                <button class="btn-2"><a class="hero__link" href="#How it’s made?"></a>How it’s made?</button>
            </li>
        </ul>
        <div class="hero__round"></div>
        <picture>
            <source srcset="
                                   ../images/hero/optimisized__webp/mob/icecream__mob.webp
                                   ../images/hero/optimisized__webp/mob/icecream__mob@2x.webp
                                   ../images/hero/optimisized__webp/mob/icecream__mob@3x.webp
                                   ../images/hero/optimisized__png/mob/icecream__mob.png
                                   ../images/hero/optimisized__png/mob/icecream__mob@2x.png
                                   ../images/hero/optimisized__png/mob/icecream__mob@3x.png                                    
                                    " media="(max-width: 767px)" type="image/webp">
            <source srcset="
                                    ../images/hero/optimisized__png/tablet/icecream__tablet.png 1x,
                                    ../images/hero/optimisized__png/tablet/icecream__tablet@2x.png 2x,
                                    ../images/hero/optimisized__png/tablet/icecream__tablet@3x.png 3x,
                                    ../images/hero/optimisized__webp/tablet/icecream__tablet.webp 1x,
                                    ../images/hero/optimisized__webp/tablet/icecream__tablet@2x.webp 2x,
                                    ../images/hero/optimisized__webp/tablet/icecream__tablet@3x.webp 3x
                                    " media="(min-width: 768px) and (max-width: 1279px)" type="image/webp">
            <source srcset="
                                    ../images/hero/optimisized__png/desktop/icecream__desktop.png 1x,
                                    ../images/hero/optimisized__png/desktop/icecream__desktop@2x.png 2x,
                                    ../images/hero/optimisized__png/desktop/icecream__desktop@3x.png 3x,
                                    ../images/hero/optimisized__webp/desktop/icecream__desktop.webp 1x,
                                    ../images/hero/optimisized__webp/desktop/icecream__desktop@2x.webp 2x,
                                    ../images/hero/optimisized__webp/desktop/icecream__desktop@3x.webp 3x
                                    " media="(min-width: 1280px)" type="image/webp">
        <img class="hero__img" src="../images/hero/optimisized__png/mob/icecream__mob.png" alt="Морозиво">
        </picture>
        <p class="hero__text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
        </p>
        <button class="btn-4">
            <svg class="btn-icon" width="9" height="9">
                <use href="../images/svg/symbol-defs.svg#icon-arrow-right2"></use>
            </svg>
        </button>
        <ul class="hero__list_number">
            <li class="hero__item_number-16">
                <p class="hero__text_number">16</p>
                <p class="hero__text">cafes</p>
            </li>
            <li class="hero__item_number-23">
                <p class="hero__text_number">23</p>
                <p class="hero__text">food trucks</p>
            </li>
        </ul>
    </div>
</section>