<section id="products" class="products">
  <div class="container">
    <p class="products__label-title">100% natural</p>
    <h2 class="products__title">products</h2>
    <ul class="products__list">
      <li class="products__card products__card--pink">
        <h3 class="products__subtitle">ice cream</h3>
        <p class="products__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis.
        </p>
        <span class="products__button-arrow">
          <svg class="products__icon-arrow" width="15" height="14">
            <use href="../images/svg/symbol-defs.svg#icon-arrow-right2"></use>
          </svg>
        </span>
        <div class="products__overlay products__overlay--pink">
          <p class="products__overlay-text">
            <span class="products__overlay-icon products__overlay-icon--pink">
              <svg class="products__overlay-svg">
                <use href="../images/svg/symbol-defs.svg#icon-cream"></use>
              </svg>
            </span>strawberry
          </p>
          <p class="products__overlay-text">
            <span class="products__overlay-icon products__overlay-icon--pink">
              <svg class="products__overlay-svg">
                <use href="../images/svg/symbol-defs.svg#icon-cream"></use>
              </svg>
            </span>pistachio</p>
          <p class="products__overlay-text">
            <span class="products__overlay-icon products__overlay-icon--pink">
              <svg class="products__overlay-svg">
                <use href="../images/svg/symbol-defs.svg#icon-cream"></use>
              </svg>
            </span>wild berry</p>
          <p class="products__overlay-text">
            <span class="products__overlay-icon products__overlay-icon--pink">
              <svg class="products__overlay-svg">
                <use href="../images/svg/symbol-defs.svg#icon-cream"></use>
              </svg>
            </span>chery-mania</p>
          <p class="products__overlay-text">
            <span class="products__overlay-icon products__overlay-icon--pink">
              <svg class="products__overlay-svg">
                <use href="../images/svg/symbol-defs.svg#icon-cream"></use>
              </svg>
            </span>vanilla</p>
        </div>
      </li>
      <li class="products__card products__card--beige">
        <h3 class="products__subtitle">ice coffee</h3>
        <p class="products__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis.
        </p>
        <span class="products__button-arrow">
          <svg class="products__icon-arrow" width="15" height="14">
            <use href="../images/svg/symbol-defs.svg#icon-arrow-right2"></use>
          </svg>
        </span>
        <div class="products__overlay products__overlay--beige">
          <p class="products__overlay-text">
            <span class="products__overlay-icon products__overlay-icon--beige">
              <svg class="products__overlay-svg">
                <use href="../images/svg/symbol-defs.svg#icon-latte"></use>
              </svg>
            </span>strawberry
          </p>
          <p class="products__overlay-text">
            <span class="products__overlay-icon products__overlay-icon--beige">
              <svg class="products__overlay-svg">
                <use href="../images/svg/symbol-defs.svg#icon-latte"></use>
              </svg>
            </span>pistachio
          </p>
          <p class="products__overlay-text">
            <span class="products__overlay-icon products__overlay-icon--beige">
              <svg class="products__overlay-svg">
                <use href="../images/svg/symbol-defs.svg#icon-latte"></use>
              </svg>
            </span>wild berry
          </p>
          <p class="products__overlay-text">
            <span class="products__overlay-icon products__overlay-icon--beige">
              <svg class="products__overlay-svg">
                <use href="../images/svg/symbol-defs.svg#icon-latte"></use>
              </svg>
            </span>chery-mania
          </p>
          <p class="products__overlay-text">
            <span class="products__overlay-icon products__overlay-icon--beige">
              <svg class="products__overlay-svg">
                <use href="../images/svg/symbol-defs.svg#icon-latte"></use>
              </svg>
            </span>vanilla
          </p>
        </div>
      </li>
      <li class="products__card products__card--green">
        <h3 class="products__subtitle">milkshakes</h3>
        <p class="products__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis.
        </p>
        <span class="products__button-arrow">
          <svg class="products__icon-arrow" width="15" height="14">
            <use href="../images/svg/symbol-defs.svg#icon-arrow-right2"></use>
          </svg>
        </span>
        <div class="products__overlay products__overlay--green">
          <p class="products__overlay-text">
            <span class="products__overlay-icon products__overlay-icon--green">
              <svg class="products__overlay-svg">
                <use href="../images/svg/symbol-defs.svg#icon-milkshake"></use>
              </svg>
            </span>strawberry
          </p>
          <p class="products__overlay-text">
            <span class="products__overlay-icon products__overlay-icon--green">
              <svg class="products__overlay-svg">
                <use href="../images/svg/symbol-defs.svg#icon-milkshake"></use>
              </svg>
            </span>pistachio
          </p>
          <p class="products__overlay-text">
            <span class="products__overlay-icon products__overlay-icon--green">
              <svg class="products__overlay-svg">
                <use href="../images/svg/symbol-defs.svg#icon-milkshake"></use>
              </svg>
            </span>wild berry
          </p>
          <p class="products__overlay-text">
            <span class="products__overlay-icon products__overlay-icon--green">
              <svg class="products__overlay-svg">
                <use href="../images/svg/symbol-defs.svg#icon-milkshake"></use>
              </svg>
            </span>chery-mania
          </p>
          <p class="products__overlay-text">
            <span class="products__overlay-icon products__overlay-icon--green">
              <svg class="products__overlay-svg">
                <use href="../images/svg/symbol-defs.svg#icon-milkshake"></use>
              </svg>
            </span>vanilla
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>