.contacts {
  background-color: get-bgColor('accent-pale');
}

.schedule-works {
  @media screen and (min-width: 768px) {
    display: flex;
    margin: -15px;
  }
}

.works-item {
  height: auto;
  text-align: inherit;
  background-color: get-bgColor('main');
  border-radius: 24px;
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  padding: 43px 21px 43px 20px;
  @media screen and (max-width: $max-mobile) {
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  @media screen and (min-width: $tablet) {
    flex-basis: calc((100% - 2 * 20px) / 3);
    margin: 10px;
    padding: 50px 32px 50px 31px;
  }

  @media screen and (min-width: $desktop) {
    flex-basis: calc((100% - 2 * 30px) / 3);
    padding: 51px 44px 62px 43px;
    margin: 15px;
  }
}

.works-cafe__item:not(:last-child) {
  border-bottom: 1px;
  border-bottom-style: solid;
  border-bottom-color: #ececec;
  padding-bottom: 25px;
  margin-bottom: 25px;
}

.cafe-rubric {
  width: 80px;
  text-align: center;
  background: get-elementColor('card-secondary');
  border-radius: 4px;
  margin-bottom: 25px;
}

.cafe-rubric-green {
  width: 130px;
  text-align: center;
  background: get-elementColor('card-tertiary');
  border-radius: 4px;
  margin-bottom: 25px;
}

.rubric-text {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-size: getFont-size__mob('text');
  line-height: 186%;
  letter-spacing: 0.04em;
  color: get-textColor('main-light');
  @media screen and (min-width: $tablet) {
    font-size: getFont-size__tab('text-review');
  }
  @media screen and (min-width: $desktop) {
    font-size: getFont-size__tab('text-categories');
  }
}

.cafe-town {
  margin-bottom: 10px;
  font-family: 'DM Sans';
  line-height: 186%;
  letter-spacing: 0.04em;
  font-size: getFont-size__mob('text');
  @media screen and (min-width: $tablet) {
    font-size: getFont-size__tab('text-review');
  }
  @media screen and (min-width: $desktop) {
    font-size: getFont-size__desk('text-more');
  }
}

.cafe-story {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: get-textColor('additional');
  @media screen and (min-width: $tablet) {
    font-size: getFont-size__tab('text-review');
  }
  @media screen and (min-width: $desktop) {
    font-size: getFont-size__desk('text-more');
  }
}

.cafe-link {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-size: getFont-size__mob('text');
  line-height: 150%;
  color: get-textColor('additional');
  @media screen and (min-width: $tablet) {
    font-size: getFont-size__tab('text-review');
  }
  @media screen and (min-width: $desktop) {
    font-size: getFont-size__desk('text-more');
  }
}

.cafe-day {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  font-family: 'DM Sans';
  font-weight: 500;
  font-size: 12px;
  line-height: 186%;
  @media screen and (min-width: $tablet) {
    font-size: getFont-size__tab('text-review');
  }
  @media screen and (min-width: $desktop) {
    font-size: getFont-size__desk('text-more');
  }
}

.cafe-time {
  color: get-textColor('accent-pale');
}

.button-location {

  @extend %btn-7;
  margin-bottom: 10px;
  width: 161px;
  height: 44px;

  @media screen and (min-width: $tablet) {
    width: 191.45px;
    margin-bottom: 0;
    margin-right: 15px;

  }
  @media screen and (min-width: $desktop) {
    width: 198px;
  }
}

.button-franchise {

  @extend %btn-6;
  width: 161px;
  height: 44px;
  @media screen and (min-width: $tablet) {
    width: 174.05px;
  }
  @media screen and (min-width: $desktop) {
    width: 180px;

  }
  @media screen and (min-width: $desktop) {
    width: 180px;
  }
}

.schedule-button {
  margin-top: 54px;
  padding-bottom: 113px;
  align-items: center;
  @media screen and (max-width: $max-mobile) {
    display: flex;
    flex-direction: column;
  }
  @media screen and (min-width: $tablet) {
    display: flex;
    justify-content: center;
    margin-top: 81px;
    padding-bottom: 165px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  clip: rect(0 0 0 0);
}
