footer {
  background-color: get-bgColor('accent-pale');
  padding-bottom: 25px;
  @media screen and (min-width: $tablet) {
    padding-bottom: 18px;
  }
  @media screen and (min-width: $desktop) {
    padding-bottom: 10px;
  }
}

.footer__border {
  border-bottom: 1px solid #ececec;
}
.footer-page {
  display: flex;
  flex-direction: column;
  @media screen and (min-width: $tablet) {
    flex-direction: row;

    justify-content: space-between;
  }
}
.footer-slohan {
  @media screen and (max-width: 479px) {
    width: 234px;
  }
  @media screen and (min-width: $tablet) and (max-width: $max-tablet) {
    width: 340px;
  }
}
.footer__slohan-tittle {
  font-family: 'Titan One';
  font-size: getFont-size__mob('label-title');

  color: get-titleColor('accent-pale');
  font-weight: 400;
  line-height: 1.31;
  margin-bottom: 17px;
  letter-spacing: normal;

  @media screen and (min-width: $tablet) {
    margin-bottom: 16px;
    font-size: 26px;
    line-height: 1.15;
  }

  @media screen and (min-width: $desktop) {
    margin-bottom: 15px;
    font-size: 30px;
    line-height: 1.13;
  }
}

.footer__saturated {
  font-family: 'Titan One';
  font-size: 34px;
  line-height: 1.15;
  color: get-titleColor('accent-bright');
  margin-bottom: 43px;

  @media screen and (min-width: $tablet) {
    margin-bottom: 90px;
    font-size: 48px;
    line-height: 1.15;
    letter-spacing: 0.06em;
  }

  @media screen and (min-width: $desktop) {
    font-size: 58px;
    line-height: 1.14;
    letter-spacing: 0.06em;
  }
}
.footer__contacts-container {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}
.footer-conection {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: none;
  background-color: #fea5bb;
  fill: white;
  margin-bottom: 50px;
}

.footer-conection:hover .conection-list {
  opacity: 1;
  visibility: visible;
}
.footer-conection:hover .conection-link {
  transform: scaleY(1) scaleX(1), translateY(-16px), translateX(0px);
}

.conection-list {
  position: absolute;
  left: 0;
  right: 0;
  // bottom: 48px;
  top: 40px;
  opacity: 0;
  visibility: hidden;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.conection-list {
  display: flex;
  justify-content: flex-end;
}

.conection-item:not(:last-child) {
  margin-right: 10px;
}

.conection-link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;

  border-radius: 50%;
  border: none;
  fill: get-bgColor('main');
  background-color: #fea5bb;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: #d41443;
    outline: none;
  }
}

.conection-text {
  margin-bottom: 43px;
  text-align: end;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: getFont-size__mob('text');
  line-height: 1.83;
  color: get-titleColor('main-dark');
  letter-spacing: normal;
  @media screen and (min-width: $tablet) {
    font-size: 14px;
    line-height: 1.86;
  }
  @media screen and (min-width: $desktop) {
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.02em;
  }
}
.conection-tel {
  color: get-textColor('accent-bright');
}
.footer-titre {
  padding-top: 22px;
  text-align: center;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: getFont-size__mob('nav-tablet');
  line-height: 1.5;
  color: get-textColor('additional');
  @media screen and (max-width: 479px) {
    width: 150px;
    margin-left: auto;
    margin-right: auto;
  }
  @media screen and (min-width: $tablet) {
    padding-top: 29px;
  }
  @media screen and (min-width: $desktop) {
    padding-top: 9px;
  }
}
