.header__container {
  background-color: get-bgColor('accent-bright');
}

.header__buttons {
  display: inline-flex;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  font-family: Titan One;
  font-size: 30px;
  color: get-titleColor('accent-bright');

  text-transform: uppercase;
}

.logo__img {
  margin-right: 24px;
}

.main-nav {
  // @media screen and (max-width: $tablet) {
  // width: 100%;
  // }
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 80px;
}

.site-nav--mobile {
  @media screen and (min-width: $desktop) {
    display: none;
  }

  // display: flex;
  // flex-direction: column;
  // justify-content: space-between;
  position: fixed;
  top: 0;
  right: 0;
  width: 209px;
  height: 100%;
  padding: 60px 20px;
  z-index: 3;

  opacity: 0;
  background-color: #e17992;
  visibility: hidden;
  pointer-events: none;
}

.site-nav--mobile.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: initial;
  z-index: 3;
}

.mobile-nav__btn {
  display: inline-flex;
  // margin-left: auto;
  padding: 0;
  border: none;
  background-color: transparent;
  z-index: 4;

  @media screen and (min-width: $tablet) {
    margin-right: 30px;
  }
  @media screen and (min-width: $desktop) {
    display: none;
  }
}

.mobile-nav__btn .icon-close {
  display: none;
}

.mobile-nav__btn.is-open .icon-close {
  display: block;
}

.mobile-nav__btn.is-open .icon-menu {
  display: none;
}

.mobile-nav__list {
  text-align: center;
}

.header__btn {
  display: none;
  @media screen and (min-width: $tablet) {
    display: block;
  }
}

.header__btn--mobile {
  width: 209px;
  // margin-left: auto;
  // margin-right: auto;
  margin-bottom: 32px;
}

.site-nav {
  display: none;
  @media screen and (min-width: $desktop) {
    display: flex;
    align-items: center;
  }
}

.site-nav__item:not(:last-child) {
  margin-right: 35px;
}

.site-nav__link {
  color: get-textColor('main-light');
  font-weight: 700;
  font-size: get-font-size__desk('nav');
  line-height: 1.31;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav__link:hover,
.site-nav__link:focus {
  color: get-textColor('accent-bright');
}

.site-nav__link--current {
  color: get-textColor('accent-bright');
}

.site-nav__item--mobile:not(:last-child) {
  margin-bottom: 22px;
}

.site-nav__link--mobile {
  font-size: get-font-size__tab('nav');
}

// Buttons

.btn-1 {
  @extend %btn-1;
}

.btn-2 {
  @extend %btn-2;
}

.btn-3 {
  @extend %btn-3;
}

.btn-4 {
  @extend %btn-4;
}

.btn-5 {
  @extend %btn-5;
}

.btn-6 {
  @extend %btn-6;
}

.btn-7 {
  @extend %btn-7;
}
