.modal {
  position: relative;
  margin: auto;
  padding: 40px;
  max-width: 450px;
  // height: 100vw;

  background-color: #e17992;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  @media screen and(min-width: $tablet) {
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: 450px;
    max-height: 609px;

    transform: translate(-50%, -50%) scale(1);

    transition-property: transform;
    transition-duration: $animation-time;
    transition-timing-function: $animation-timing-function;
  }

  @media screen and(min-width: $desktop) {
    max-width: 528px;
    max-height: 881px;
  }

  &__btn-close {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    cursor: pointer;

    box-sizing: border-box;
    border: none;
    background-color: transparent;
    stroke: get-elementColor('button-secondary');
    transition-property: stroke;
    transition-duration: $animation-time;
    transition-timing-function: $animation-timing-function;
  }

  &__btn-close:hover {
    stroke: get-elementColor('button-primary');
  }
}

.backdrop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(223, 178, 188, 0.5);
  overflow-y: scroll;
  z-index: 10;

  opacity: 1;

  transition: opacity $animation-time $animation-timing-function;
}

.backdrop--menu {
  height: 100vw;
}

.backdrop--hidden {
  opacity: 0;
  pointer-events: none;
}

.form__title {
  font-family: Titan One;
  font-size: 30px;
  color: get-titleColor('accent-bright');
  text-align: center;
  margin-bottom: 20px;
}

.form__data {
  color: get-textColor('main-light');
  font-weight: 400;
  font-size: get-font-size__desk('nav');
}

.form__label {
  display: block;
  margin-bottom: 10px;
}

.button__submit {
  @extend %btn-1;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form__label > span {
  display: block;
  margin-bottom: 4px;
}

.form__data {
  input,
  textarea {
    width: 100%;
    max-width: 470px;
    height: 40px;
    padding-left: 42px;
    border: 1px solid get-titleColor('accent-pale');
    box-sizing: border-box;
    border-radius: 4px;
    color: get-titleColor('accent-bright');

    transition-property: border-color;
    transition-duration: $animation-time;
    transition-timing-function: $animation-timing-function;
  }

  input:focus,
  input:hover {
    border-color: get-titleColor('accent-bright');
  }

  input:focus + .icon,
  input:hover + .icon {
    fill: get-titleColor('accent-bright');
  }

  textarea[name='user_comment'] {
    height: 120px;
    padding: 12px 16px;
    resize: none;
  }

  input:valid {
    outline: green;
  }

  input:invalid {
    outline: red;
  }
}

.form__input {
  position: relative;

  .icon {
    position: absolute;
    top: 0;
    left: 12px;
    transform: translateY(50%);
    fill: get-titleColor('accent-pale');

    transition-property: fill;
    transition-duration: $animation-time;
    transition-timing-function: $animation-timing-function;
  }
}

.scrollup {
  width: 40px;
  height: 40px;
  opacity: 0.3;
  position: fixed;
  bottom: 50px;
  @media screen and (min-width: $tablet) {
    right: 100px;
  }
  right: 10px;
  display: none;
  color: transparent;
  background: url('../../images/svg/icon_top.png') no-repeat;
  transition-property: transform;
  transition-duration: $animation-time;
  transition-timing-function: $animation-timing-function;
}

.scrollup:hover,
.scrollup:focus {
  transform: scale(1.25);
}
