.modal {
  position: relative;
  margin: auto;
  padding: 40px;
  width: 100%;
  max-width: 450px;
  max-height: 609px;

  background-color: #e17992;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  @media screen and(min-width: $tablet) {
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%) scale(1);

    transition-property: transform;
    transition-duration: $animation-time;
    transition-timing-function: $animation-timing-function;
  }

  @media screen and(min-width: $desktop) {
    max-width: 528px;
    max-height: 581px;
  }

  &__btn-close {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    cursor: pointer;

    border: 1px solid rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    border: none;
    background-color: transparent;
    align-items: center;

    transition-property: border-color;
    transition-duration: $animation-time;
    transition-timing-function: $animation-timing-function;
  }

  &__btn-close:hover {
    border-color: get-elementColor('button-primary');
    color: get-elementColor('button-primary');
  }
}

.backdrop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(223, 178, 188, 0.5);
  overflow-y: scroll;
  z-index: 10;

  opacity: 1;

  transition: opacity $animation-time $animation-timing-function;
}

.backdrop--hidden {
  opacity: 0;
  pointer-events: none;
}

.form__title {
  font-family: Titan One;
  font-size: 30px;
  color: get-titleColor('accent-bright');
  text-align: center;
  margin-bottom: 40px;
}

.form__modal {
  display: flex;
  flex-direction: column;
  align-items: center;

  color: get-textColor('main-light');
  font-weight: 700;
  font-size: get-font-size__desk('nav');
  line-height: 1.31;
}

.form__modal label {
  margin-bottom: 22px;
}

.button__confirmation {
  @extend %btn-1;
  // width: 50%;
  // transform: translate(50%);
}

.scrollup {
  width: 40px;
  height: 40px;
  opacity: 0.3;
  position: fixed;
  bottom: 50px;
  @media screen and (min-width: $tablet) {
    right: 100px;
  }
  right: 10px;
  display: none;
  color: transparent;
  background: url('../../images/svg/icon_top.png') no-repeat;
  transition-property: transform;
  transition-duration: $animation-time;
  transition-timing-function: $animation-timing-function;
}

.scrollup:hover,
.scrollup:focus {
  transform: scale(1.25);
}
